boby {
background-color: #1D2221;
color: white;
font-family: "Bai jamjuree",sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 700px;
margin: 0;
}

button {
background-color: #64A712;
color: white;
font-family: "Bai jamjuree",sans-serif;
}
 .passo{
  display: none;
 }
  .passo.ativo{
    display: block;
  }